.modal {
    position: fixed;
    background-color: rgba(#ffffff, 0.7);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-size: 14px;

    .modal-content {
        width: 350px;
        background-color: white;
        border-radius: 10px;
        border: solid 1px #c2bdbd;
        padding: 30px;

        .modal-header {
            margin-bottom: 10px;

            .title {
                h1 {
                    font-size: 20px;
                    text-align: center;
                    color: $primary-color;
                    margin: 5px;
                }
            }

            .subtitle {
                p {
                    text-align: center;
                    font-size: 12px;
                    margin: 0;
                }
            }
        }

        .modal-body {
            div {
                margin-bottom: 6px;

                input {
                    margin: 0 auto;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 2px 2px 6px -2px gray;
                    padding: 6px;
                }
            }
        }

        .modal-footer {
            padding: 20px 0 0;
            display: flex;
            justify-content: space-evenly;

            .first-action,
            .second-action {
                border: none;
                border-radius: 10px;
                background-color: $secondary-color;
                color: white;
                padding: 10px 0;
                font-weight: 600;
                cursor: pointer;
                font-size: 12px;
                width: 100px;
            }

            .second-action {
                background-color: $color1;
            }
        }
    }
}
