.login {
    align-items: center;
    background-image: url('../../assets/img/login_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    .container{
        display: flex;
        justify-content: center;
        width: 95%;
        max-width: 800px;
        background-color: $primary-color;
        border-radius: 18px;
        .logo{
            display: flex;
            align-items: center;
            width: 50%;
            img {
                margin: auto;
                max-width: 20rem;
            }
        }
        .form-login{
            width:50%;
            background-color: white;
            border-radius: 16px;
            padding: 30px;
            display: grid;
            gap: 32px;
            justify-items: center;
            h1 {
                font-size: 25px;
            }
            .form-data{
                display: grid;
                gap: 8px;
                min-width: 80%;
                label {
                    font-weight: bold;
                }
                input{
                    border-radius: 10px;
                    border: none;
                    box-shadow: 0 3px 6px #00000029;
                    font-family: inherit;
                    font-weight: 500;
                    padding: 10px;
                }
                & div{
                    display: flex;
                    justify-content: end;
                }
            }
            button{
                align-items: center;
                background-color: $secondary-color;
                border-radius: 8px;
                border: none;
                color: white;
                cursor: pointer;
                display: flex;
                font-family: inherit;
                font-size: 1rem;
                font-weight: bold;
                justify-content: center;
                margin: 40px 0;
                padding: 16px 40px;
                &.loading {
                    padding: 13.5px 40px;
                    padding-left: 16px;
                }
                img{
                    width: 24px;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .login > .container {
        flex-direction: column;
        max-width: 25rem;
        .logo {
            margin: 16px auto;
            max-width: 40%;
        }
        .form-login {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            width: 100%;
        }
    }
}