.status--green {
  background-color: #bff7c5 !important;
  color: #5FAB68;
}

.status--blue {
  background-color: #d5e6f1 !important;
  color: #1032a1;
}

.status--red {
  background-color: #f3cccc !important;
  color: #E15757;
}

.status--yellow {
  background-color: #F3EF60 !important;
  color: black;
}

.status--black {
  background-color: #d1d1d1 !important;
  color: #8d8d8d;
}

.spinner > .p-progress-spinner {
  width: 100%;
  height: 10rem;
  @keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: $blue;
    }
    50% {
        stroke: $primary-color;
    }
  }
}

.search {
  .p-accordion-content {
    background-color: transparent;
    padding: 0;
    border: none;
  }
  .more {
    background-color: transparent;
    border: none;
    color: $primary-color;
    font-weight: 600;
    padding: 9px 0;
    text-align: left;
    width: 4.5rem;
  }
}

.device-assignment {
  & > .section {
    min-height: 260px;
    margin-bottom: 24px;
    & > .header {
      // @include title;
      display: flex;
      justify-content: space-between;
      button {
        background-color: $background;
        border: none;
        font-family: inherit;
        font-weight: 600;
        font-size: 0.84rem;
        color: $gray;
        &.p-button {
          padding: 1px 6px;
          color: $primary-color;
        }
        .pi {
          color: $primary-color;
          font-size: 1.1rem;
        }
      }
      .active {
        color: $primary-color;
      }
    }
    & > .content > div:nth-child(2) {
      color: $primary-color;
      padding-left: 5px;
    }
  }
  .title {
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-color;
    font-weight: 600;
    font-size: 0.84rem;
    margin-bottom: 8px;
  }

  .actions {
    display: flex;
    gap: 15px;
    justify-content: center;
    justify-self: center;
  }

  .icon-button {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    & > img {
      width: 20px;
      height: 20px;
    }
  }
  .action {
    &:hover {
      background-color: $blue-bg;
    }
    &:disabled {
      background-color: $gray;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    background-color: #f9fafc;
    padding: 6px;
    padding-bottom: 16px;
    border-radius: 6px;

    input.p-inputtext {
      padding: 0;
      padding-left: 8px;
    }
    & > .fields {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      .field {
        display: grid;
        .p-skeleton {
          background-color: #dee2e6;
          margin: 0;
          // min-height: 1.8rem;
          min-height: 2rem;
        }

        & > div {
          padding: 0.5rem 0.8rem;
          &:first-of-type {
            font-size: 0.7rem;
            color: #686868;
            font-weight: 600;
          }
          &:last-of-type:not(.check, .actions, .p-skeleton) {
            background-color: white;
            box-shadow: 0 3px 6px #00000029;
            border-radius: 6px;
          }
          &.check {
            padding: 0;
            margin: auto;
          }
        }
      }
      &.primary > .field {
        font-weight: bold;
        .actions {
          &:last-child {
            padding: 0;
          }
          & > .p-button {
            background-color: white;
            box-shadow: 0 3px 6px #00000029;
            border-radius: 6px;
            border: none;
            padding: 6px;
            .pi {
              font-size: 1.2rem;
              color: $blue;
            }
            &:disabled > .pi {
              color: $gray;
            }
          }
        }  
      }
    }

  }
  .status {
    text-align: center;
  }
  .responsible.details {
    .primary-row {
      .header,
      .content {
        grid-template-columns: 2fr 7rem 3fr 8rem;
      }
    }
    & > div:nth-of-type(2) {
      .header,
      .content {
        // grid-template-columns: 7rem 7rem 1fr 7rem 1fr;
        & > div {
          width: 8rem;
        }
        div:nth-of-type(2n+3) {
          width: 20rem;
        }
      }
    }
    & > div:nth-of-type(3) {
      .header,
      .content {
        // grid-template-columns: 3rem 1fr 1fr 7rem;
        & > div {
          width: 20rem;
        }
        & > div:first-of-type {
          width: 5rem;
        }
        & > div:nth-of-type(4){
          width: 7rem;
        }
      }
      .content > div:first-of-type {
        box-shadow: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
      }
    }
  }
  .kit.details {
    .primary-row {
      .header,
      .content {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)) 8rem;
      }
    }
    .field {
      .addendum {
        display: flex;
        gap: 8px;
        i {
          font-size: 1.1rem;
          color: $primary-color;
        }
      }
      .days {
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        div:first-of-type {
          font-size: 0.9em;
        }
        div:last-of-type {
          font-size: 0.85em;
        }
      }
      .amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        .icon-button {
          border: 1px solid $gray;
        }
        div:first-of-type {
          color: $gray;
        }
      }
      .contract {
        padding: 2px 0.8rem;
        text-align: center;
        div:last-child {
          font-size: 0.75em;
        }
      }
    }
  }
  .kit-list.binnacle {
    margin-top: 16px;
    thead > tr > th:last-of-type > div {
      justify-content: center;
    }
  }
}

.empty {
  margin: 0 auto;
  width: 200px;
  padding-top: 100px;
  text-align: center;

  span {
    color: #b5b2b2;
    font-weight: 600;
  }

  img {
    width: 100%;
  }
}

@import "./components/KitList/style.scss";
@import "./components/Modals/style.scss";