.p-dialog-content > form > .section > .content > .simple-row.permission {
  align-items: center;
  justify-items: center;
  .single-select {
    & > div {
      margin: 0;
      padding: 0.4rem;
      padding-inline: 2rem;
    }
  }
}

.asset {
  & > .section {
    min-height: 260px;
    margin-bottom: 24px;
    & > .header {
      display: flex;
      justify-content: space-between;
      button {
        background-color: $background;
        border: none;
        font-family: inherit;
        font-weight: 600;
        font-size: 0.84rem;
        color: $gray;
        &.p-button {
          padding: 1px 6px;
          color: $primary-color;
        }
        .pi {
          color: $primary-color;
          font-size: 1.1rem;
        }
      }
      .active {
        color: $primary-color;
      }
    }
    & > .content > div:nth-child(2) {
      color: $primary-color;
      padding-left: 5px;
    }
  }
  .title {
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-color;
    font-weight: 600;
    font-size: 0.84rem;
    margin-bottom: 8px;
  }

  .actions {
    display: flex;
    gap: 15px;
    justify-content: center;
    justify-self: center;
  }

  .icon-button {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    & > img {
      width: 20px;
      height: 20px;
    }
  }
  .action {
    &:hover {
      background-color: $blue-bg;
    }
    &:disabled {
      background-color: $gray;
    }
  }

  .header.title.detail {
    font-size: 0.84rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
    background-color: #f9fafc;
    padding: 6px;
    padding-bottom: 16px;
    border-radius: 6px;

    input.p-inputtext {
      padding: 0;
      padding-left: 8px;
    }
    & > .fields {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      .field {
        display: grid;
        .p-skeleton {
          background-color: #dee2e6 !important;
          margin: 0;
          min-height: 2rem;
        }
        & > div {
          padding: 0.5rem 0.8rem;
          &:first-of-type {
            font-size: 0.7rem;
            color: #686868;
            font-weight: 600;
          }
          &:last-of-type:not(.check, .actions) {
            background-color: white;
            box-shadow: 0 3px 6px #00000029;
            border-radius: 6px;
          }
          &.check {
            padding: 0;
            margin: auto;
          }
        }
      }
      &.primary > .field {
        font-weight: bold;
        .actions {
          &:last-child {
            padding: 0;
          }
          & > .p-button {
            background-color: white;
            box-shadow: 0 3px 6px #00000029;
            border-radius: 6px;
            border: none;
            padding: 6px;
            .pi {
              font-size: 1.2rem;
              color: $blue;
            }
            &:disabled > .pi {
              color: $gray;
            }
          }
        }  
      }
    }
  }
  .status {
    text-align: center;
  }
  .responsible.details {
    .primary-row {
      .header,
      .content {
        grid-template-columns: 2fr 7rem 3fr 8rem;
      }
    }
    & > div:nth-of-type(2) {
      .header,
      .content {
        // grid-template-columns: 7rem 7rem 1fr 7rem 1fr;
        & > div {
          width: 8rem;
        }
        div:nth-of-type(2n+3) {
          width: 20rem;
        }
      }
    }
    & > div:nth-of-type(3) {
      .header,
      .content {
        // grid-template-columns: 3rem 1fr 1fr 7rem;
        & > div {
          width: 20rem;
        }
        & > div:first-of-type {
          width: 5rem;
        }
        & > div:nth-of-type(4){
          width: 7rem;
        }
      }
      .content > div:first-of-type {
        box-shadow: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
      }
    }
  }
  .asset.details {
    .primary-row {
      .header,
      .content {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr)) 8rem;
      }
    }
    .field > div:nth-child(2) {
      font-weight: 400;
    }
  }
  .kit-list.binnacle {
    margin-top: 16px;
    thead > tr > th:last-of-type > div {
      justify-content: center;
    }
  }
}
