.multiselect.p-multiselect {
  min-width: 10rem;
  height: 2.31rem;
  font-family: $primary-font;
  .p-multiselect-label-container > .p-multiselect-label {
    padding: 0.2em;
    .p-multiselect-token {
      padding: 0.4em;
      font-size: 0.9em;
    }
  }
}

.p-multiselect-panel .p-multiselect-item {
  font-size: 0.9em;
}

