.table-selection {
  border: 1px solid #ced4da;
  border-radius: 8px;
  &.p-invalid {
    border: 1px solid #e24c4c;
  }
  .titles, .rows {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    div:first-of-type {
      padding: 8px;
    }
    & > div:nth-of-type(n + 2) {
      flex: 1;
      padding: 4px;
      margin-left: 4px;
    }
  }
  .titles {
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #ced4da;
    margin: auto;
  }
  .body {
    max-height: 12rem;
    overflow-y: scroll;
  }
  .p-checkbox {
    width: auto;
    height: auto;
  }
}
