.loading-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: $background;
  img {
    max-width: 200px;
    max-height: 200px;
  }
  &.normal {
    background-color: transparent;
    height: auto;
  }
}