
.layout {
  display: flex;
  .side-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 16px;
    width: 14rem;
    position: fixed;
    transition: width 0.2s ease-out;
    height: 100vh;
    background-color: white;
    z-index: 1;
    .brand {
      display: flex;
      gap: 4px;
      padding: 10px 0;

      img:first-of-type {
        width: 80%;
      }
      img:last-of-type {
        display: none;
      }
      button {
        background-color: transparent;
        border: none;
        color: $blue;
      }
    }
    .user {
      text-align: center;
      padding: 50px 0;
      div:first-of-type {
        font-size: 1.1rem;
        color: $primary-color;
        font-weight: bold;
      }
      div:last-of-type {
        font-weight: 600;
        margin-top: 8px;
        font-size: 0.8rem;
        color: $gray;
      }
    }
    .options {
      display: flex;
      flex-direction: column;
      gap: 16px;
      a {
        text-decoration: none;
      }
      .item {
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 12px;
        border-radius: 8px;
        color: $blue;
        &.active {
          background-color: $green-bg;
          color: $green;
        }
        img {
          width: 16px;
          height: 16px;
        }
        span {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
    }
    .action {
      align-self: center;
      .version {
        text-align: center;
        color: $gray;
        font-weight: 600;
        font-size: 0.7rem;
        margin-top: 16px;
      }  
      button {
        border: 1px solid $secondary-color;
        background-color: transparent;
        color: $secondary-color;
        font-weight: bold;
        font-family: $primary-font;
        padding: 8px 16px;
        width: auto;
        &:hover {
          background-color: $secondary-color;
          color: white;
        }
      }
      span {
        margin-right: 8px;
        font-weight: 700;
      }
    }
    &.shrink {
      width: 4rem;
      transition: width 0.2s ease-out;
      align-items: center;
      .brand {
        flex-direction: column;
        align-items: center;
        gap: 16px;
        img:first-of-type {
          display: none;
        }
        img:last-of-type {
          display: block;
          width: 38px;
        }
      }
      .user {
        visibility: hidden;
      }
      .options {
        align-items: center;
        span {
          display: none;
        }
      }
      .action {
        button {
          font-size: 0;
        }
        span {
          margin-right: 0;
        }
      }
    }
  }
  & > .content {
    background-color: #f2f3f8;
    width: 100%;
    margin-left: 14rem;
    padding: 20px 50px;
    min-height: 100vh;
    &.menu-shrink {
      margin-left: 4rem;
    }
  }
  .menu_btn{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    position: fixed;
    display: none;
    background: transparent;
    z-index: 2;
      img{
        width: 25px;
      }
  }
}
@media screen and (max-width: 1000px){
  .layout > .side-menu{
    margin-left: -45rem;
    &.show{
      margin-left: 0;
    }
  } 
  .layout > .content {
    margin-left: 0;
    padding: 30px;
    min-height: 100vh;
    &.menu-shrink {
      margin-left: 0;
    }
  }
  .menu_btn{
    display: block !important;
  }
}
