.dialog {
  font-family: $primary-font;
  .p-dialog-header {
    padding-top: 8px;
    padding-bottom: 0;
  }
  .p-dialog-content {
    padding: 2rem;
    padding-top: 0;
  }
  h2 {
    padding-bottom: 4px;
    font-family: $primary-font;
    font-weight: 600;
    color: $primary-color;
    font-size: 1.25rem;
  }
  .content {
    @mixin row-grid {
      display: grid;
      gap: 25px;
      grid-template-columns: 1fr 7rem;
    }

    input {
      width: 7rem;
      min-width: 30px;
      padding: 8px;
    }
    .options {
      border-bottom: 1px solid black;
    }

    .row {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
      & > div {
        @include row-grid;
      }
    }
    .amount {
      display: flex;
      align-items: center;
      justify-content: center;
      // &::before {
      //   content: "s/.";
      //   margin-right: 5px;
      //   color: #ced4da;
      // }
    }
    .p-dropdown-label {
      padding: 6px;
    }
    .p-dropdown.dropdown {
      padding: 2px;
    }
    .simple-row {
      @include row-grid;
      margin-top: 15px;
      align-items: center;
      margin-bottom: 8px;
      & > div {
        padding: 6px;
      }
    }
    label {
      font-size: 1rem;
      color: #838080;
      font-weight: 600;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .button {
    border-radius: 6px;
    border: none;
    background-color: $secondary-color;
    color: white;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    min-width: 10rem;
    padding: 8px;
    &:hover {
      background-color: $secondary-color;
    }
  }

  .accordion > .p-accordion-tab{
    .p-accordion-header {
      padding: 0;
      
      
      a.p-accordion-header-link {
        background-color: white;
        color: $gray;
        font-weight: 500;
        font-family: $primary-font;
        font-size: 0.9rem;

        &:hover,
        &:active {
          background-color: $background;
        }
      }
    }

    .p-accordion-content {
      padding: 1rem;
    }
  }
}

.dialog.details {
  max-width: 800px;
  .header{
    border-bottom: 1px solid $primary-color;
    h2 {
      margin: 0;
    }
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 0;
    color: $primary-color;
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 8px;
    .field {
      display: grid;
      font-size: 0.875rem;
      .addendum {
        display: flex;
        gap: 8px;
        i {
          font-size: 1.1rem;
          color: $primary-color;
        }
      }
      .p-skeleton {
        background-color: #dee2e6;
        margin: 0;
        min-height: 2rem;
      }

      & > div {
        padding: 0.5rem 6px;
        &:first-of-type {
          color: #686868;
          font-weight: 600;
        }
        &:last-of-type:not(.check, .actions, .p-skeleton) {
          border: 1px solid #ced4da;
          border-radius: 6px;
        }
        &.check {
          padding: 0;
          margin: auto;
        }
      }
      .status, .contract {
        text-align: center;
      }
      .contract {
        padding: 2px 0.8rem;
        // text-align: center;
        div:last-child {
          font-size: 0.75em;
        }
      }
      .days {
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        div:first-of-type {
          font-size: 0.9em;
        }
        div:last-of-type {
          font-size: 0.85em;
        }
      }
    }
  }
}

.dialog.plan-dialog {
  @mixin cell {
    border: 1px solid #ced4da;
    border-radius: 6px;
    padding: 6px;
  }
  .p-dialog-content {
    border-radius: 0 0 6px 6px;
    .header {
      border-bottom: 1px solid black;
    }
    .simple-row > div {
      // border: 1px solid red !important;
      text-align: center;
      @include cell;
    }
    .row > div {
      & > div {
        @include cell;
      }
      div:first-of-type {
        color: $gray;
        padding-left: 12px;
      }
    }
  }
}

.dialog.confirm-dialog {
  .header {
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
  }
  .content > .simple-row {
    grid-template-columns: 1fr 14rem;
    align-items: baseline;
  }
  input {
    min-width: 14rem;
  }
  label {
    justify-self: flex-end;
  }
  textarea {
    resize: none;
  }
}

.dialog.add-kit-dialog {
  .section {
    display: flex;
    gap: 16px;
    justify-content: center;
    min-width: 30rem;
  }
  .header {
    display: flex;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    .simple-row {
      grid-template-columns: 1fr 14rem;
      align-items: baseline;
    }
    .contract {
      padding: 3px 0.8rem;
      text-align: center;
      width: 12rem;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      div:last-child {
        font-size: 0.75em;
      }
    }
  
  }
  
  input {
    // padding: 8px;
    min-width: 14rem;
  }
  .p-dropdown.dropdown {
    padding: 2px;
  }
  label {
    justify-self: flex-end;
    text-align: end;
  }
  textarea {
    resize: none;
  }
  .details {
    // justify-content: flex-end;
    input.p-inputnumber-input {
      min-width: auto;
    }
    padding: 1rem;
    gap: 1rem;
    .row {
      align-self: center;
      align-items: center;
    }
    .dropdown {
      width: 12rem;
      display: flex;
    }
  }

  .p-dialog-header {
    border-bottom: 1px solid #ecebeb;
    padding: 16px;
  }
}