nav.steps {
  font-family: $primary-font;
  display: flex;
  justify-content: center;
  gap: 40px;
  button.step {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $gray;
    background-color: inherit;
    border: none;
    font: inherit;
    div:first-of-type {
      font-size: 1rem;
      border-style: solid;
      border-width: 2px;
      // border-radius: 4px;
      width: 1.7em;
      padding: 2px;
      text-align: center;  
    }
    div:last-of-type {
      font-size: 0.8rem;
      width: 5rem;
      text-align: center;
    }
    &.active {
      color: $primary-color;
    }
  }
}