.session-expired {
  align-items: center;
  background-image: url('../../assets/img/login_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 1rem;
  p {
    font-size: 1rem;
  }
  section {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    background-color: white;
    .buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .button {
        background-color: $primary-color;
        border-radius: 6px;
        border: none;
        color: white;
        font-family: inherit;
        font-size: 1.3rem;
        font-weight: 600;
        min-width: 10rem;
        padding: 8px;
      }
    }
  }
}