.actives-module {
  .module {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    a {
      text-decoration: none;
      color: rgb(100, 100, 100);
      font-size: 20px;
      img {
        width: 20px;
        margin-right: 8px;
        vertical-align: bottom;
        margin-bottom: 2px;
      }
    }
    .active {
      a {
        color: $primary-color;
      }
    }
    & > div {
      &:first-child {
        margin-right: 60px;
      }
    }
  }
}
@media screen and (max-width: 460px) {
}
